.container{
  display: flex;
}

.container div{
  flex: 1;
}

nav{
  padding:5px
}
nav a{
  color:black;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

html{
  font-family: Arial;
}

a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid black;
}

#banner{
  height: 450px;
  background-image: url("bacground.jpg");
  font-family: monospace;
  font-size: 100px;
  align-items: center;
  justify-content:center;
  color: white;
}

#banner:hover{
  background-image: url("anotherbac.jpg");
  transition: 2s;
}

#bannerh{
  height: 450p;
  background-image: url("koreanwar.jpg");
   font-family: monospace;
  font-size: 100px;
  align-items: center;
  justify-content:center;
  color: white;
}

#bannerc{
  height:450px;
  background-image: url("koreatra.jpg");
   font-family: monospace;
  font-size: 100px;
  align-items: center;
  justify-content:center;
  color: rgb(224, 222, 222);
}

#bannerg{
  height: 450px;
  background-image: url("bannergg.jpg");
  font-family: monospace;
  font-size: 100px;
  align-items: center;
  justify-content: center;
  color:white;
}
.main{
  font-size: larger;
  color: blue;
}

#bar{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: brown; 
  color: blanchedalmond; 
}

#barg{
  background-color: rgba(20, 128, 68, 0.664);

}

#para{
  font-size: 18px;
  background-color: rgb(201, 174, 139);
  color: rgb(49, 36, 21);
}

#para img:hover{
  height: 450px;
  width: 800px;
}

#para p:hover{
  transition: 10s;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  
}

#info{
  background-color: rgba(126, 86, 26, 0.562);
  font-size: 20px;
}

#info img:hover{
  width: 500px;
}

#infoh{
  background-color: rgb(167, 76, 106);
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#infoh img{
  opacity: 0.2;
}

#infoh img:hover{
  opacity:1.0;
  height: 700px;
  width: 700px;
}

#cult{
  font-size: 17px;
  background-color: rgb(199, 99, 116);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#imgcon img{
  opacity: 0.1;
}

#imgcon img:hover{
  opacity: 1.0;
  height: 500px;
  width: 700px;
}

#imgc img{
  height: 400px;
  align-items: center;
  justify-content: center;
}

#imgc img:hover{
  height: 500px;
  width: 700px;
}

#parac{
  background-color: rgba(46, 98, 143, 0.651);
}

#infoc{
  background-color: rgba(46, 98, 143, 0.651);
}

#imgc{
  background-color: rgba(19, 100, 170, 0.418);
}

#imgcon{
  background-color: rgba(19, 100, 170, 0.418);
}

#pg{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: rgba(226, 162, 43, 0.226);
}

#mg{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: rgba(226, 162, 43, 0.226);
}

#cg{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: rgba(226, 162, 43, 0.226);
}

#tg{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: rgba(226, 162, 43, 0.226);
}

#hanbok{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: rgba(226, 162, 43, 0.226);
}

#parag img:hover{
  opacity: 0.5;
}

#imggg img:hover{
  opacity:0.6;
}

#cultg img:hover{
  opacity: 0.3;
}

#gg img:hover{
  opacity: 0.8;
}

#imgg img:hover{
  opacity:0.2

}