nav{
  padding:5px
}
nav a{
  color:black;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

html{
  font-family: Arial;
}

a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid black;
}

#banner{
  height: 450px;
  background-image: url("bacground.jpg");
  font-family: monospace;
  font-size: 100px;
  align-items: center;
  justify-content:center;
  color: white;
}

#banner:hover{
  background-image: url("anotherbac.jpg");
  transition: 2s;
}

.main{
  font-size: larger;
  color: blue;
}

.container{
  display: flex;
 
}
