.container{
  display: flex;
}

.container div{
  flex: 1;
}

nav{
  padding:5px
}
nav a{
  color:black;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

html{
  font-family: Arial;
}

a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid black;
}

#banner{
  height: 450px;
  background-image: url("bacground.jpg");
  font-family: monospace;
  font-size: 100px;
  align-items: center;
  justify-content:center;
  color: white;
}

#banner:hover{
  background-image: url("anotherbac.jpg");
  transition: 2s;
}

#bannerh{
  height: 450p;
  background-image: url("koreanwar.jpg");
   font-family: monospace;
  font-size: 100px;
  align-items: center;
  justify-content:center;
  color: white;
}


.main{
  font-size: larger;
  color: blue;
}

#bar{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: brown; 
  color: blanchedalmond; 
}

#para{
  font-size: 18px;
  background-color: rgb(201, 174, 139);
  color: rgb(49, 36, 21);
}

#para img:hover{
  height: 450px;
  width: 800px;
}

#para p:hover{
  transition: 10s;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  
}

#info{
  background-color: rgba(126, 86, 26, 0.562);
  font-size: 20px;
}

#info img:hover{
  width: 500px;
}